/* HERO SECTION */
.herosection {
  position: relative;
  height: 60vh;
  overflow: hidden;
  color: white;
}

/* BACKGROUND VIDEO */
.herosection-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

/* OVERLAY */
.herosection-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4));
  z-index: 1;
}

/* CONTAINER */
.herosection-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* TEXT */
.herosection-text {
  max-width: 500px;
}

.herosection-logo {
  width: 120px;
  margin-bottom: 20px;
}

.herosection-text h1 {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}

.herosection-text p {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 25px;
  line-height: 1.6;
}

/* BUTTON */
.herosection-btn {
  padding: 12px 25px;
  background: linear-gradient(135deg, #f5c542, #ff9f1c);
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.herosection-btn:hover {
  transform: scale(1.05);
}

/* VIDEO CARD */
.herosection-card {
  width: 350px;
  border: 4px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

.herosection-card video {
  width: 100%;

  display: block;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .herosection-container {
    flex-direction: column;
    text-align: center;
  }

  .herosection-card {
    margin-top: 30px;
    width: 90%;
  }

  .herosection-text h1 {
    font-size: 36px;
  }
}